$base: #FFFFFF;
$container: #DADADA;
$light: lighten($container, 5%);
$dark: darken($container, 5%);
$default: #BCBABE;
$primary: #375E97;
$danger: #FB6542;
$info: #FFBB00;
$success: #3F681C;
$xlarge-columns: 16;
$large-columns: 12;
$mid-columns: 8;
$small-columns: 6;
$xsmall-columns: 2;
$xxsmall-columns: 1;
html {
    box-sizing: border-box;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background: $base;
    font-family: sans-serif;
}
.container {
    background: $container;
    width: calc(100% - 5rem);
    margin: 0 auto;
    padding: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat($large-columns, 1fr);
    grid-auto-flow: row;
    grid-gap: 1.25rem;
    width: calc(100% - 10rem);
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.grid-item {
    border: 1px solid $primary;
}

.grid-item-end {
    @extend .grid-item;
    grid-column-end: -1;
}

// 1200px
@media (min-width: 75.01em) {
    .container {
        width: calc(100% - 3rem);
    }
    .grid {
        grid-template-columns: repeat($xlarge-columns, 1fr);
        width: calc(100% - 8em);
        grid-gap: 1rem;
    }
    @for $i from 1 through $xlarge-columns {
        .col-xl-#{$i} {
            grid-column: span $i;
        }
    }
    @for $i from 1 through $xlarge-columns {
        @for $j from 1 through $xlarge-columns {
            .col-xl-#{$j}-#{$i} {
                grid-column: $i / span $j;
            }
        }
    }
}

// 992px
@media (max-width: 75em) {
    .container {
        width: calc(100% - 3rem);
    }
    .grid {
        grid-template-columns: repeat($large-columns, 1fr);
        width: calc(100% - 8em);
        grid-gap: 1rem;
    }
    @for $i from 1 through $large-columns {
        .col-lg-#{$i} {
            grid-column: span $i;
        }
    }
    @for $i from 1 through $large-columns {
        @for $j from 1 through $large-columns {
            .col-lg-#{$j}-#{$i} {
                grid-column: $i / span $j;
            }
        }
    }
}

//between 768px and 992px
@media (min-width: 48em) and (max-width: 62em) {
    .container {
        width: calc(100% - 3rem);
    }
    .grid {
        grid-template-columns: repeat($mid-columns, 1fr);
        width: calc(100% - 8em);
        grid-gap: 1rem;
    }
    @for $i from 1 through $mid-columns {
        .col-md-#{$i} {
            grid-column: span $i;
        }
    }
    @for $i from 1 through $mid-columns {
        @for $j from 1 through $mid-columns {
            .col-md-#{$j}-#{$i} {
                grid-column: $i / span $j;
            }
        }
    }
}

// 768px
@media (max-width: 48em) {
    .container {
        width: calc(100% - 2rem);
    }
    .grid {
        grid-template-columns: repeat($small-columns, 1fr);
        width: calc(100% - 4rem);
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        grid-gap: 0.6rem;
    }
    @for $i from 1 through $small-columns {
        .col-sm-#{$i} {
            grid-column: span $i;
        }
    }
    @for $i from 1 through $small-columns {
        @for $j from 1 through $small-columns {
            .col-sm-#{$j}-#{$i} {
                grid-column: $i / span $j;
            }
        }
    }
}

// 480px
@media (max-width: 30em) {
    .container {
        width: calc(100% - 2rem);
    }
    .grid {
        grid-template-columns: repeat($xsmall-columns, 1fr);
        width: calc(100% - 4rem);
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        grid-gap: 0.6rem;
    }
    @for $i from 1 through $xsmall-columns {
        .col-xs-#{$i} {
            grid-column: span $i;
        }
    }
}

// 320px
@media (max-width: 20em) {
    .container {
        width: calc(100%);
    }
    .grid {
        grid-template-columns: 1fr;
        width: calc(100% - 1rem);
        margin-top: 0.5rem;
        grid-gap: 0.3rem;
    }
    .grid-item {
        grid-column: 1;
    }
}

.fill {
    // @extend .grid;
    width: 100%;
    height: 100%;
}

.default {
    background: $default;
}

.primary {
    background: $primary;
}

.info {
    background: $info;
}

.success {
    background: $success;
}

.danger {
    background: $danger;
}

.light {
    background: $light;
}

.dark {
    background: $dark;
}
