/***** Variables *****/

$base: #FFFFFF;
$container: #DADADA;
$light: lighten($container, 5%);
$dark: darken($container, 50%);
$default: #BCBABE;
$primary: #375E97;
$danger: #FB6542;
$info: #FFBB00;
$success: #3F681C;
$xlarge-columns: 16;
$large-columns: 12;
$mid-columns: 8;
$small-columns: 6;
$xsmall-columns: 2;
$xxsmall-columns: 1;
$light-blue: #6eb7ff;
@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,700,700i');

/***** basic Styles *****/

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

html,
body {
    box-sizing: border-box;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    font-family: 'Nonito';
    padding: 0;
}

.container {
    width: calc(100% - 5rem);
    margin: 0 auto;
    padding: 1rem;
    height: auto;
}

*[class*="visible"] {
    display: none;
}


/***** Gird Styles *****/

.grid {
    display: grid;
    grid-template-columns: repeat($large-columns, 1fr);
    grid-auto-flow: row;
    grid-gap: 1.25rem;
    width: calc(100% - 10rem);
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.grid-item-end {
    @extend .grid-item;
    grid-column-end: -1;
}

// 1200px
@media (min-width: 75.01em) {
    .container {
        width: calc(100% - 3rem);
    }
    .grid {
        grid-template-columns: repeat($xlarge-columns, 1fr);
        width: calc(100% - 8em);
        grid-gap: 1rem;
    }
    @for $i from 1 through $xlarge-columns {
        .col-xl-#{$i} {
            grid-column: span $i;
        }
    }
    @for $i from 1 through $xlarge-columns {
        .grid-xl-#{$i} {
            grid-template-columns: repeat($i, 1fr);
        }
    }
    @for $i from 1 through $xlarge-columns {
        @for $j from 1 through $xlarge-columns {
            .col-xl-#{$j}-#{$i} {
                grid-column: $i / span $j;
            }
        }
    }
    .hidden-xl {
        display: none;
    }
    .visible-xl {
        display: inherit;
    }
}

// 992px
@media (max-width: 75em) {
    .container {
        width: calc(100% - 3rem);
    }
    .grid {
        grid-template-columns: repeat($large-columns, 1fr);
        width: calc(100% - 8em);
        grid-gap: 1rem;
    }
    @for $i from 1 through $large-columns {
        .col-lg-#{$i} {
            grid-column: span $i;
        }
    }
    @for $i from 1 through $xlarge-columns {
        .grid-lg-#{$i} {
            grid-template-columns: repeat($i, 1fr);
        }
    }
    @for $i from 1 through $large-columns {
        @for $j from 1 through $large-columns {
            .col-lg-#{$j}-#{$i} {
                grid-column: $i / span $j;
            }
        }
    }
    .hidden-lg {
        display: none;
    }
    .visible-lg {
        display: inherit;
    }
}

//between 768px and 992px
@media (min-width: 48em) and (max-width: 62em) {
    .container {
        width: calc(100% - 3rem);
    }
    .grid {
        grid-template-columns: repeat($mid-columns, 1fr);
        width: calc(100% - 8em);
        grid-gap: 1rem;
    }
    @for $i from 1 through $mid-columns {
        .col-md-#{$i} {
            grid-column: span $i;
        }
    }
    @for $i from 1 through $xlarge-columns {
        .grid-md-#{$i} {
            grid-template-columns: repeat($i, 1fr);
        }
    }
    @for $i from 1 through $mid-columns {
        @for $j from 1 through $mid-columns {
            .col-md-#{$j}-#{$i} {
                grid-column: $i / span $j;
            }
        }
    }
    .hidden-md {
        display: none;
    }
    .visible-md {
        display: inherit;
    }
}

// 768px
@media (max-width: 48em) {
    .container {
        width: calc(100% - 2rem);
    }
    .grid {
        grid-template-columns: repeat($small-columns, 1fr);
        width: calc(100% - 4rem);
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        grid-gap: 0.6rem;
    }
    @for $i from 1 through $small-columns {
        .col-sm-#{$i} {
            grid-column: span $i;
        }
    }
    @for $i from 1 through $xlarge-columns {
        .grid-sm-#{$i} {
            grid-template-columns: repeat($i, 1fr);
        }
    }
    @for $i from 1 through $small-columns {
        @for $j from 1 through $small-columns {
            .col-sm-#{$j}-#{$i} {
                grid-column: $i / span $j;
            }
        }
    }
    .hidden-sm {
        display: none;
    }
    .visible-sm {
        display: inherit;
    }
}

// 480px
@media (max-width: 30em) {
    .container {
        width: calc(100% - 2rem);
    }
    .grid {
        grid-template-columns: repeat($xsmall-columns, 1fr);
        width: calc(100% - 4rem);
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        grid-gap: 0.6rem;
    }
    @for $i from 1 through $xlarge-columns {
        .grid-xs-#{$i} {
            grid-template-columns: repeat($i, 1fr);
        }
    }
    @for $i from 1 through $xsmall-columns {
        .col-xs-#{$i} {
            grid-column: span $i;
        }
    }
    .hidden-xs {
        display: none;
    }
    .visible-xs {
        display: inherit;
    }
}

// 320px
@media (max-width: 20em) {
    .container {
        width: calc(100%);
    }
    .grid {
        grid-template-columns: 1fr;
        width: calc(100% - 1rem);
        margin-top: 0.5rem;
        grid-gap: 0.3rem;
    }
    @for $i from 1 through $xlarge-columns {
        .grid-xxs-#{$i} {
            grid-template-columns: repeat($i, 1fr);
        }
    }
    .grid-item {
        grid-column: 1;
    }
    .hidden-xxs {
        display: none;
    }
    .visible-xxs {
        display: inherit;
    }
}

@for $i from 1 through $xlarge-columns {
    .col-#{$i} {
        grid-column: span $i;
    }
    .col-start-#{$i} {
        grid-column-start: $i;
    }
}

@for $i from 1 through $xlarge-columns {
    @for $j from 1 through $xlarge-columns {
        .col-#{$j}-#{$i} {
            grid-column: $i / span $j;
        }
    }
}

@for $i from 1 through $xlarge-columns {
    .grid-#{$i} {
        @extend .grid;
        grid-template-columns: repeat($i, 1fr);
    }
}

.grid-flow-row {
    grid-auto-flow: row;
}

.grid-flow-column {
    grid-auto-flow: column;
}

.no-gutter {
    @extend .grid;
    grid-gap: 0em;
}

.fill {
    // @extend .grid;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


/***** Alignment Styles *****/

.top {
    display: flex;
    align-items: flex-start;
}

.middle {
    display: flex;
    align-items: center;
}

.bottom {
    display: flex;
    align-items: flex-end;
}

.left {
    margin-left: 0;
    margin-right: auto;
}

.center {
    margin: 0 auto;
}

.right {
    margin-right: 0;
    margin-left: auto;
}


/***** Forms and Features *****/

.tooltip {
    position: relative;
}

.tooltip:hover::before {
    content: '';
    position: absolute;
    // left: 50%;
    top: 100%;
    transform: rotateZ(45deg) translateX(0.5rem);
    color: black;
    background: white;
    width: 1rem;
    height: 1rem;
}

.tooltip:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    white-space: normal;
    top: 100%;
    transform: translate(-1rem, 0.5rem);
    background: white;
    color: black;
    padding: 0.2rem;
    border-radius: 0.1rem;
    box-shadow: 0 0.2rem 0.1rem 0.1rem $dark;
}

.rounded {
    border-radius: 0.5em;
}

.button {
    background: $default;
    padding: 0.5em 0.7em;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0.1em 0.1em 0.3em 0em $dark;
    transition: box-shadow 0.2s ease-in-out
}

.button:active {
    box-shadow: inset 0.05em 0.05em 0.2em 0em $dark;
}

.button-hollow {
    @extend .button;
    background: transparent;
    border: 0.2em solid $default;
}

.hollow-primary {
    border-color: $primary;
}

.hollow-info {
    border-color: $info;
}

.hollow-success {
    border-color: $success;
}

.hollow-danger {
    border-color: $danger;
}

*[class^="button-hollow"]:hover {
    box-shadow: 0.1em 0.1em 0.3em 0em $dark;
    transition: box-shadow 0.2s ease-in-out
}

*[class^="button-hollow"]:active {
    box-shadow: inset 0.05em 0.05em 0.2em 0em $dark;
}

.input {
    padding: 0.3em 0.5em;
    font-size: 1.1em;
    border: 0.1em solid $dark;
    border-radius: 0.2em;
}

.input:focus {
    border-color: $base;
    box-shadow: 0 0 0.2em 0em $light-blue;
}


/***** Color Styles *****/

.default {
    background: $default;
}

.primary {
    background: $primary;
    color: $base;
}

.info {
    background: $info;
}

.success {
    background: $success;
    color: $base;
}

.danger {
    background: $danger;
    color: $base;
}

.light {
    background: $light;
}

.dark {
    background: $dark;
}

.font-light {
    color: $light;
}

.font-dark {
    color: $dark;
}